<div id="Wrapper">
    <form [formGroup]="myForm" (ngSubmit)="search(myForm.value)">
        <input formControlName="title" placeholder="Search Title">
        <button type="submit" value="search">search</button>
        
    </form>
        <div id="filmBox" *ngFor="let film of currentFilms">
            <p id="title">Title: {{film.title}}</p>
            <p id="title">Producer: {{film.producer}}</p>
            <p id="title">Director: {{film.director}}</p>
            <p id="title">Release Date: {{film.release_date}}</p>
            <p id="title">Rotten Tomatoes Score: {{film.rt_score}}</p>
            <p id="description">Description: <br>{{film.description}}</p>
        </div>
</div>