<div id="Wrapper">
    <form  [formGroup]="myForm" (ngSubmit)="search(myForm.value)">
        <input #input formControlName="title" placeholder="Search Title">
        <button type="submit" value="search">search</button>
        
    </form>
        <div id="filmBox" *ngFor="let film of currentFilms">
            <p class="bold">Title: <br><p class="innerP" id="title">{{film.title}}</p></p>
            <p class="bold">Producer: <br><p class="innerP">{{film.producer}}</p></p>
            <p class="bold">Director: <br><p class="innerP">{{film.director}}</p></p>
            <p class="bold">Release Date: <br><p class="innerP">{{film.release_date}}</p></p>
            <p class="bold">Rotten Tomatoes Score: <br><p class="innerP">{{film.rt_score}}</p></p>
            <p class="bold" id="description">Description: <br><p class="innerP">{{film.description}}</p></p>
        </div>
</div>